<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="styles/home.css">

<h2>Welcome to my Website!</h2>
<p class="home-paragraph">
    I am a Computer Science graduate with a strong passion for leveraging machine learning to 
    create positive change in the world. My goal is to harness the power of technology and data 
    to address pressing global challenges and contribute to a better future for all.
</p>