@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lugrasimo&display=swap');

body {
    background-color: #333333;
}
h1 {
    font-family: 'Lugrasimo', cursive;
    color: #C7F0BC;
    text-align: center;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #C7F0BC;
    text-align: center;
    font-size: 4em;
}

p {
    font-family: 'Cormorant Garamond', serif;
    color: #C7F0BC;
    text-align: center;
    font-size: 2em;
}

/* ANIMATIONS */

/* Keyframes for the slide-down reveal animation */
@keyframes slideDownReveal {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; /* Adjust based on expected paragraph height */
        opacity: 1;
    }
}

/* Keyframes for the slide-right reveal animation */
@keyframes slideRightReveal {
    from {
        max-width: 0;
        opacity: 0;
    }
    to {
        max-width: 500px; /* Adjust based on expected paragraph height */
        opacity: 1;
    }
}


.welcome-message {
    overflow: hidden;
    max-height: 200px; /* Adjust based on expected h2 height */
    opacity: 0;  /* Set initial opacity to 0 */
    animation: slideRightReveal 2s forwards 0.5s; /* 1.5s duration, adjust as needed */
}

/* Applying the animation to the paragraph */
.home-paragraph {
    overflow: hidden; /* Hide content outside the element's box */
    max-height: 500px; /* Adjust based on expected paragraph height */
    opacity: 0;  /* Set initial opacity to 0 */
    animation: slideDownReveal 4s forwards 1s; /* 1.5s duration, adjust as needed */
}